<div  class="container">
  <br />
    <form (ngSubmit)="filterBooks(f.value)" #f="ngForm" >
        <div class="form-group" class="searchForm">
          <label> Enter parts of title to search: </label>
          <input type="text" class="form-control" ngModel ng-init="bookTitle =''" id="bookTitle" name="bookTitle" placeholder="Enter title" />

          <label> Select among top book types: </label>
          <select class="form-control" name="bookType" id="bookType" ng-init="bookType=''" ngModel>
                <option value=""></option>
                <option *ngFor="let category of categories" [value]="category" > {{ category }} </option>
          </select>

          <label> Select book condition: </label>
          <select #bookCondition="ngModel" class="form-control" ngModel name="bookCondition" id="bookCondition" ng-init="bookCondition ='0'" >
                <option [value]="0"></option>
                <option [value]="5">Very Good</option>
                <option [value]="4">Good</option>
                <option [value]="3">Okay</option>
                <option [value]="2">Bad</option>
                <option [value]="1">Very Bad</option>
          </select>
          <br />
          <input class="form-control" type="submit" class="btn btn-primary" />
          </div>
    </form>
</div>

<data-table
title="Books Table"
[showTitle]="true"
[items]="items"
[itemCount]="booksCount"
[pagination]="true"
[pageLimits]="[10]"
[page]="pageNumber"
(reload)="reloadItems($event)"
>
<data-table-column
  [property] = "'title'"
  [header] = "'Title'"
  [sortable] = "true"
  [resizable] = "true"
></data-table-column>
<data-table-column
  [property] = "'subjects'"
  [header] = "'Subjects'"
  [sortable] = "true"
  [resizable] = "true"
></data-table-column>
<data-table-column
  [property] = "'type'"
  [header] = "'Type'"
  [sortable] = "true"
  [resizable] = "true"
></data-table-column>
<data-table-column
[property]="'bib_num'"
[header] = "'Biblical Number'"
>
    <ng-template #dataTableCell let-item="item">
        <a [routerLink]="['/books/getDetails/', item.bib_num]">{{ item.bib_num }}</a>
    </ng-template>
</data-table-column>
</data-table>
