<div class="container">
    <h1 id="title">{{ (book$| async).title }}</h1>
    <p id="subjects">{{ (book$ | async).subjects }}</p>
    <p id="type">{{ (book$ | async).type }}</p>
    <p id="bibNum">{{ (book$ | async).bib_num }}</p>
</div>

<h1>Condition:</h1>
<div class="container">
    <data-table
    [items]="items"
    [itemCount]="itemCount">
    <data-table-column
      [property] = "'barcode'"
      [header] = "'Barcode'"
      [sortable] = "true"
      [resizable] = "true"
    ></data-table-column>
    <data-table-column
      [property] = "'bibNum'"
      [header] = "'bibNum'"
      [sortable] = "true"
      [resizable] = "true"
    ></data-table-column>
    <data-table-column
      [property] = "'bookCondition'"
      [header] = "'bookCondition'"
      [sortable] = "true"
      [resizable] = "true"
    ></data-table-column>
    <data-table-column
    [property] = "'userId'"
    [header] = "'userId'"
    [sortable] = "true"
    [resizable] = "true"
  ></data-table-column>
    </data-table>
</div>

<hr/>
<div class="container">
    <data-table
    [items]="reviewItems"
    [itemCount]="reviewItemCount">
    <data-table-column
      [property] = "'reviewId'"
      [header] = "'reviewId'"
      [sortable] = "true"
      [resizable] = "true"
    ></data-table-column>
    <data-table-column
      [property] = "'userId'"
      [header] = "'userId'"
      [sortable] = "true"
      [resizable] = "true"
    ></data-table-column>
    <data-table-column
      [property] = "'bibNum'"
      [header] = "'bibNum'"
      [sortable] = "true"
      [resizable] = "true"
    ></data-table-column>
    <data-table-column
    [property] = "'reviewHeading'"
    [header] = "'reviewHeading'"
    [sortable] = "true"
    [resizable] = "true"
  ></data-table-column>
  <data-table-column
    [property] = "'reviewRating'"
    [header] = "'reviewRating'"
    [sortable] = "true"
    [resizable] = "true"
  ></data-table-column>
  <data-table-column
    [property] = "'reviewDescription'"
    [header] = "'reviewDescription'"
    [sortable] = "true"
    [resizable] = "true"
  ></data-table-column>
  <data-table-column
  [property] = "'recommend'"
  [header] = "'recommend'"
  [sortable] = "true"
  [resizable] = "true"
></data-table-column>
    </data-table>
    <a class="btn btn-primary" href="books/newReviewForm">Add a review!</a>
</div>
