<form #f="ngForm" (ngSubmit)="f.form.valid && submit(f.value)" >
    <div class="form-group">
        <label for="userId">User Id</label>
        <input type="text" class="form-control" id="userId" name="userId" required placeholder="Enter User Id" ngModel>
        <div *ngIf="userId.invalid && f.submitted"
          class="alert alert-danger">
        <div *ngIf="userId.errors?.required">
            Barcode is required.
        </div>
      </div>
    </div>
    <div class="form-group">
        <label for="reviewRating">Rating</label>
        <input type="text" class="form-control" id="reviewRating" name="reviewRating"  placeholder="Enter review rating(out of 10)" ngModel>
    </div>
    <div class="form-group">
        <label for="reviewHeading">Heading</label>
        <input type="text" class="form-control" id="reviewHeading" name="reviewHeading"  placeholder="Enter review heading" ngModel>
    </div>
    <div class="form-group">
      <label for="reviewDescription">Description</label>
      <input type="text" class="form-control" id="reviewDescription" name="reviewDescription"  placeholder="Enter review description" ngModel>
    </div>
    <div class="form-group">
      <label for="recommend"></label>
      <input type="text" class="form-control" id="recommend" name="recommend"  placeholder="Recommendation" ngModel>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>

<ng-template *ngIf="success">
  Your entry has been added
</ng-template>
<ng-template *ngIf="!success">
  Sorry your entry could not be added
</ng-template>
