<form #f="ngForm" (ngSubmit)="submit(f.value)" >
  <div class="form-group">
    <label for="barcode">Barcode:</label>
    <input type="text" class="form-control" id="barcode" name="barcode"  #barcode="ngModel" ngModel  placeholder="Enter barcode">
  </div>
  <div class="form-group">
      <label for="bookCondition">Book Condition</label>
    <select id="bookCondition" name="bookCondition" ngModel>
      <option value=""></option>
      <option value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
    </select>
  </div>
  <div class="form-group">
      <label for="userId"></label>
      <input type="text" class="form-control" id="userId" name="userId"  placeholder="Enter User Id" ngModel>
  </div>
  <button class="btn btn-primary">Submit</button>

  <ng-template *ngIf="success">
    Your entry has been added
  </ng-template>
  <ng-template *ngIf="!success">
      Sorry your entry could not be added
    </ng-template>
</form>
