<form #f="ngForm" (ngSubmit)="f.form.valid && submit(f.value)" novalidate>
  <div class="form-group">
    <label for="barcode">Barcode:</label>
    <input type="text" class="form-control" id="barcode" name="barcode"  #barcode="ngModel" ngModel required   placeholder="Enter barcode">
    <div *ngIf="barcode.invalid && f.submitted"
    class="alert alert-danger">
    <div *ngIf="barcode.errors?.required">
        Barcode is required.
      </div>
    </div>
  </div>
  <div class="form-group">
      <label for="bookCondition">Book Condition</label>
    <select id="bookCondition" name="bookCondition" #bookCondition="ngModel" ngModel required>
        <option value=""></option>
        <option value="5">Very Good</option>
        <option value="4">Good</option>
        <option value="3">Okay</option>
        <option value="2">Bad</option>
        <option value="1">Very Bad</option>
        <div *ngIf="bookCondition.invalid && f.submitted"
        class="alert alert-danger">
        <div *ngIf="bookCondition.errors?.required">
            Book Condition is required.
          </div>
        </div>
    </select>
  </div>
  <div class="form-group">
      <label for="userId"></label>
      <input type="text" class="form-control" id="userId" name="userId" #userId="ngModel"  placeholder="Enter User Id" ngModel required>
      <div *ngIf="userId.invalid && f.submitted"
        class="alert alert-danger">
        <div *ngIf="userId.errors?.required">
            userId is required.
          </div>
        </div>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
